<clr-modal [(clrModalOpen)]="modalWindow" [clrModalClosable]="false">
  <h3 class="modal-title">Add New User</h3>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group row">
        <div class="col-xs-4">
          <label for="firstName">First Name</label>
        </div>
        <div class="col-xs">
          <input type="text" placeholder="First Name" id="firstName" ngModel name="firstName" #userInput="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-4">
          <label for="lastName">Last Name</label>
        </div>
        <div class="col-xs">
          <input type="text" placeholder="Last Name" id="lastName" ngModel name="lastName">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-4">
          <label for="email">E-Mail</label>
        </div>
        <div class="col-xs">
          <input type="text" placeholder="E-Mail" id="email" ngModel name="email">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-4">
          <label for="age">Age</label>
        </div>
        <div class="col-xs">
          <input type="text" placeholder="Age" id="age" ngModel name="age">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Add</button>
  </div>
</clr-modal>
