<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <div class="row flex-items-xs-between">
      <div class="col-xs-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-xs-2 flex-xs-bottom">
        <button class="btn btn-outline" (click)="modalWindow = true">add user</button>
      </div>
    </div>

  </div>
</div>

<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>e-mail</th>
        <th>age</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <clr-checkbox [clrChecked]="false">
          </clr-checkbox>
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td><clr-icon shape="pencil"></clr-icon></td>
        <td><clr-icon shape="trash" (click)="onDeleteUser(user)"></clr-icon></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-edit-user
  [modalWindow]="modalWindow"
></app-edit-user>

