<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <div class="row flex-items-xs-between">
      <div class="col-xs-2">
        <h1>Users</h1>
      </div>
      <div class="col-xs-2 flex-xs-bottom">
        <button class="btn btn-outline">add user</button>
      </div>
    </div>

  </div>
</div>

<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>e-mail</th>
        <th>age</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <clr-checkbox [clrChecked]="false">
          </clr-checkbox>
        </td>
        <td>0</td>
        <td>name</td>
        <td>last name</td>
        <td>email</td>
        <td>18</td>
        <td><clr-icon shape="pencil"></clr-icon></td>
        <td><clr-icon shape="trash"></clr-icon></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

