<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <div class="row flex-items-xs-between">
      <div class="col-xs-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-xs-2 flex-xs-bottom">
        <button class="btn btn-outline" (click)="onAddUser()">add user</button>
      </div>
    </div>

  </div>
</div>

<div class="row flex-items-xs-center">
  <div class="col-xs-8">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>e-mail</th>
        <th>age</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users">
        <td>
          <div class="checkbox">
            <input type="checkbox" id="{{user.id}}" [(ngModel)]="user.selected" (change)="checkbox(user)">
            <label for="{{user.id}}"></label>
          </div>
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td><clr-icon shape="pencil" (click)="onEditUser(user)"></clr-icon></td>
        <td><clr-icon shape="trash" (click)="onDeleteUser(user)"></clr-icon></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-outline" (click)="onDeleteCheckedUsers()">delete selected</button>
  </div>
</div>

<app-edit-user *ngIf="editModeSelected === 'add'"
  [editModeOn]="editModeSelected"
  [modalWindow]="modalWindow"
></app-edit-user>

<app-edit-user *ngIf="editModeSelected === 'edit'"
  [user]="userForEdit"
  [editModeOn]="editModeSelected"
  [modalWindow]="modalWindow"
></app-edit-user>


